.film-details-page {
  padding-top: 22px;
  padding-bottom: 26px;
  background-color: #fff;
  min-height: 82.4vh;
}

.film-details__img-box {
  margin-bottom: 24px;
}

.film-details__title {
  font-size: 16px;
  color: #372c48;
  margin-bottom: 10px;
}

.film-details__list {
  font-size: 13px;
}

.film-details__item {
  padding: 6px 10px 6px;
}

.film-details__item--color {
  background-color: #addad6;
}

.film-details__wrapper-item--film {
  margin-bottom: 30px;
}

.film-details__wrapper-item--about {
  margin-bottom: 30px;
}

.film-details__wrapper-item--buttons {
  display: flex;
  justify-content: space-around;
}
.btn__film-details {
  width: 30%;
  height: 30px;
  font-size: 14px;
  background-color: #fff;
  padding-left: 20px;
  cursor: pointer;
}

.btn__film-details:hover {
  color: #addad6;
  transition: 0.2s;
}

@media (min-width: 767px) {
  .film-details-page__wrapper {
    display: flex;
  }

  .film-details__img-box {
    flex: 0 0 50%;
    padding: 0 10px;
  }

  .film-details__wrapper {
    padding-left: 10px;
  }
  .btn__film-details {
    width: 20%;
  }

  .film-details__wrapper-item--buttons {
    display: block;
    position: relative;
  }

  .btn-watched {
    position: absolute;
    left: 1%;
  }
  .btn-queue {
    position: absolute;
    left: 27%;
  }
}
