.navigation__menu {
  text-align: center;
  height: 7vh;
  background-color: #77c1bb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.navigation-link {
  display: block;
  width: 120px;
  font-family: 'Roboto', sans-serif;
  color: rgba(55, 44, 72, 0.702);
  line-height: 1.2;
  font-weight: 600;
  font-size: 14px;
  padding-left: 5px;
}

.navigation-link--active:hover {
  border-bottom: 3px solid rgb(8, 167, 3);
  margin-bottom: -18px;
  color: rgb(8, 167, 3);
  z-index: 100;
}

.navigation-link--checked {
  color: rgb(8, 167, 3);
}

.navigation__left-side {
  width: 64px;
  justify-content: space-between;
}

.logo__link {
  display: none;
}

.navigation__right-side {
  width: 256px;
  display: flex;
  justify-content: space-around;
}

@media (min-width: 767px) {
  .logo__link {
    display: inline;
    font-family: 'Roboto', sans-serif;
    color: rgba(55, 44, 72, 0.871);
    font-size: 20px;
    text-align: left;
    z-index: 94;
  }

  .navigation__right-side {
    width: 250px;
  }

  .navigation__left-side {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 140px;
  }
}

@media (min-width: 1024px) {
}
