.search__form {
  text-align: center;
  padding-bottom: 23px;
}
.search__form_label {
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: text-top;
}
.form-wrap {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.23);
}

.search__form_label:before {
  content: '';
  display: block;
  position: absolute;
  background-image: url(../images/details-page-icon/search.png);
  width: 15px;
  height: 15px;
  background-size: contain;
  left: -13px;
}
.search__film {
  width: 240px;
  height: 30px;
  padding-left: 10px;
  border: none;
  outline: none;
  border-bottom: solid 2px #9c99a5;
}

.search__film::placeholder {
  display: inline-block;
  padding-left: 40px;
  vertical-align: middle;
  font-size: 16px;
  font-family: 'Myriad Pro';
  color: rgb(0, 0, 0);
}

.homePage {
  min-height: 100%;
  padding: 10px 0;
}

.list-render {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 14px;
  padding-bottom: 28px;
}

.homepage-list__li {
  text-align: center;
  position: relative;
}
.homepage-list__li:not(:last-child) {
  margin-bottom: 11px;
}

.homepage-list__poster-img {
  border-radius: 10px;
  background-color: rgb(179, 179, 179);
}

.homepage-list__moviename {
  font-size: 12px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  line-height: 1.2;

  position: absolute;
  left: 12px;
  top: 137px;
  z-index: 100;
}
.pagination-list {
  position: absolute;
  left: 200%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pagination-list__li {
  text-align: center;
  font-size: 30px;
  font-family: 'DroidSans';
  color: rgb(173, 176, 179);
  cursor: pointer;
  position: relative;
}

.pagination-list__li:hover {
  color: rgb(44, 122, 201);
  transition: 0.5s;
}
.pagination-list__li--active {
  color: rgb(23, 132, 241);
  transition: 0.3s;
}

.pagination-list__li--total {
  cursor: none;
  color: rgb(136, 136, 136);
}
.showPage {
  position: absolute;
  left: 46%;
  top: 60%;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  color: rgb(32, 31, 31);
  background: rgb(107, 105, 105);
  font-size: 30px;
}
.homePage__btns {
  display: block;
  height: 80px;
  position: relative;
}

.homePage__btnsPrev {
  position: absolute;
  left: 10%;
}

.homePage__btnsPrev,
.homePage__btnsNext {
  font-size: 22px;
  font-family: 'DroidSans';
  font-weight: bold;
  line-height: 1.143;
  width: 95px;
  height: 48px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  border-radius: 10px;
  position: absolute;
  z-index: 0;
  cursor: pointer;
  position: relative;
}
.homePage__btnsNext {
  right: -46%;
}

.homePage__btnsPrev {
  left: 20%;
}

.homePage__btnsNext:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.homePage__btnsPrev:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.homePage__btnsNext:active {
  color: #000;
}
.homePage__btnsPrev:active {
  color: #000;
}

.homePage__btnsNext:active:after {
  background: transparent;
}
.homePage__btnsPrev:active:after {
  background: transparent;
}

.homePage__btnsNext:hover:before {
  opacity: 1;
}
.homePage__btnsPrev:hover:before {
  opacity: 1;
}

.homePage__btnsNext:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(194, 188, 188);
  left: 0;
  top: 0;
  border-radius: 10px;
}
.homePage__btnsPrev:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(194, 188, 188);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media (min-width: 767px) {
  .homePage {
    min-height: 84.5vh;
  }
  .showPage {
    display: none;
  }
  .pagination-list {
    top: 10px;
    width: 70%;
    left: 15%;
  }
  .homePage__btnsPrev {
    left: 5%;
  }

  .homePage__btnsNext {
    position: absolute;
    right: 5%;
  }
}

@media (min-width: 1920px) {
  .homepage-list__poster-img {
    width: 100%;
    height: 250px;
    background-size: cover;
  }
  .homepage-list__poster-wrapper {
    width: 100%;
    background-size: cover;
  }
  .homepage-list__li {
    text-align: center;
    position: relative;
    width: 25%;
  }
  .homepage-list__moviename {
    position: absolute;
    font-size: 14px;
    left: 12px;
    top: 220px;
    z-index: 100;
  }
}
