.hidden{
    display: none;
}
.list-render{
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 300px;
    background-color: rgb(136, 170, 102);
    padding-top: 30px;
    padding-bottom: 30px;
}
.homepage-list__li{
    margin: 0 auto;
    width: 70%;
    margin-bottom: 30px;
    background-color: chartreuse;
}