{{#each this}}
<li class="homepage-list__item">
    <div class="homepage-list__poster">
        <img src="{{...ТУТ БУДЕТ КЛЮЧ НА ПОСТЕР ФИЛЬМА...}}" alt="movie name : {{...ТУТ БУДЕТ КЛЮЧ НА ИМЯ ФИЛЬМА...}}" width="320" height="240" />
    </div>
    <p class="homepage-list__moviename">{{...ТУТ БУДЕТ КЛЮЧ НА ИМЯ ФИЛЬМА...}}</p>
</li>
{{/each}}